[core]
    pager = delta
    editor = nvim
    excludesfile = /Users/ganti/licious/Desktop/Personal/dotfiles/zsh/global.gitignore

[interactive]
    diffFilter = delta --color-only

[include]
    path = theme.gitconfig

[includeIf "gitdir:/Users/ganti/licious/Desktop/Personal/"]
    path = /Users/ganti/licious/Desktop/Personal/dotfiles/git/personal.gitconfig

[includeIf "gitdir:/Users/ganti/licious/Desktop/Licious_catalog/"]
    path = /Users/ganti/licious/Desktop/Personal/dotfiles/git/work.gitconfig

[merge]
    conflictstyle = zdiff3
    tool = nvimdiff2

[diff]
    tool = nvimdiff

[difftool]
    prompt = false

[mergetool]
    prompt = false

[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[alias]
    dft = difftool
    d = diff
    st = status
    l = log --oneline --graph --decorate
